/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*resets over*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333333;
  line-height: 1.6;
  font-family: 'Roboto';
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

#root {
  background: url('/images/background1.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#root-box {
  width: 75vw;
  position: absolute;
  top: 2%;
  bottom: 2%;
  padding:8px;
  background-color: white;
  border-radius: 0.5%;
  border: 1px solid fade-out(black, 0.05);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

#root-header {
  background-color: fade-out(lightgray, 0.75);
  display:flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #00487F;
}

.navlink, .project__title{
  display: inline-block;
  padding: 8px;
  font-weight: 1000;
  font-size: 1.2em;
  color: #0073CC;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
}

.navlink:hover, .project:hover{
  background-color: fade-out(lightgray, 0.55);
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
}

.is-active {
  color: #0090FF;
}

.project {
  background-color: fade-out(lightgray, 0.75);
  width: 300px;
  height: 300px;
  max-height: 300px;
  padding: 8px;
  text-align: center;
  border-radius: 1%;
  justify-self: center;
  margin-top: 16px;
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  cursor: pointer;
  position:relative;
}

.project img{
  max-width: 250px;
  max-height: 200px;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #00487F;
}

@media (min-width:1700px) {
  #project-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
  }
}

@media (min-width:1300px) and (max-width: 1699px) {
  #project-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
}

@media (min-width:900px) and( max-width:1299px ) {

  #project-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  
}

@media (max-width:649px ) {
  #root-box{
    height: 100vh;
    width: 100vw;
    top:0%;
    bottom:0%;
    border: none;
    padding:0px;
  }

  #project-list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .project{
    width: 90vw;
  }
  
  #root{
    background-image: none;
  }
  
}

@media (min-width:650px) and ( max-width:899px ) {

  #root-box{
    height: 100vh;
    width: 100vw;
    top:0%;
    bottom:0%;
    border: none;
    padding:0px;
  }

  #project-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

  #root{
    background-image: none;
  }
  
}

.close-button {
  position: absolute;
  top: 8px;
  right:8px;
  background-color: red;
  border: 2px solid red;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  color: white;
  font: bold 15px/13px Helvetica, Verdana, Tahoma;
  height: 16px; 
  padding: 4px 3px 0 3px;
  text-align: center;
  min-width: 14px;
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
}

.close-button:hover {
  border: 2px solid darkred;
  background-color: darkred;
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
}

.edit-button{
  position: absolute;
  top: 8px;
  left:8px;
  background: none;
  background-color: #0090FF;
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  color: white;
  border: 0;
  box-shadow: none;
}

.edit-button:hover {
  background-color: #0073CC;
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
}

.addProject_input *, .editProject_input *, .projectList_title, .viewProject{
  justify-content: center;
  text-align: center;
  margin: 4px;
}

.addProject_input textarea, .editProject_input textarea{
  width: 60%;
  height: auto;
}

#admin-button{
  position: absolute;
  right:16px;
  top:8px;
  padding: 8px;
  cursor: pointer;
  color: #0073CC;
  font-weight: bold;
}

h1, h2, h3 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}